.head{
    margin-top:60Px;
    padding:25px;
    color:hwb(75 87% 4%);
    font-weight: 700;
    
}
.bod{
    color:rgb(228, 227, 227);
    align-content: center;
    padding:10px;
    margin:6px;
    font-weight: 700;
    border:0.3px solid powderblue;
    border-radius: 12px;
    box-shadow:3px 3px 3px grey;

}