.title{
    margin-top:40Px;
    padding:25px;
    color:hwb(76 7% 0%);
    
}
.display-body{
    align-content: center;
    padding:10px;
    margin:6px;
    font-weight: 700;
    border:0.3px solid powderblue;
    border-radius: 15px;
    box-shadow:5px 5px 5px grey;

}